
.emdduallist-moveBtn-text-paddRight{
    padding-right:10px;
}

.emdduallist-moveBtn-text-paddLeft{
    padding-left:10px;
}

.emdduallist-moveBtn{
    padding:5px;
}

.emdduallist-controlDiv{
  display: flex;
  justify-content: center;
}

.emdduallist-controlDivContent{
  align-self: center;
}

.emdduallist-leftSelectLabel{
    font-weight:bold;
}

.emdduallist-rightSelectLabel{
    font-weight:bold;
}

.emdduallist-searchBox{
    margin:5px 0px;
}

.emdduallist{
}